<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pay.paylib">

    <!-- 支付宝权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 微信支付权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 银联付权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
            *************************银联支付begin*******************
            <activity
                android:name="com.unionpay.uppayplugin.demo.APKActivity"
                android:label="@string/app_name" />
            <activity
                android:name="com.unionpay.uppayplugin.demo.JARActivity"
                android:label="@string/app_name" />
            <activity android:name="com.unionpay.uppay.PayActivity" />
            <activity
                android:name="com.unionpay.uppay.PayActivityEx"
                android:configChanges="keyboardHidden|orientation"
                android:excludeFromRecents="true"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />
            *************************银联支付end*******************

            ************************微信支付begin******************
            <activity
                android:name="com.aiyingshi.activity.wxapi.WXPayEntryActivity"
                android:exported="true"
                android:launchMode="singleTop" />

            <receiver
                android:name="com.paylib.mmpay.MmAppRegister">
                <intent-filter>
                    <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
                </intent-filter>
            </receiver>

            ************************微信支付end******************
            **********************支付宝支付begin*****************
            <activity
                    android:name="com.alipay.sdk.app.H5PayActivity"
                    android:configChanges="orientation|keyboardHidden|navigation"
                    android:exported="false"
                    android:screenOrientation="behind" >
            </activity>
            <activity
                    android:name="com.alipay.sdk.auth.AuthActivity"
                    android:configChanges="orientation|keyboardHidden|navigation"
                    android:exported="false"
                    android:screenOrientation="behind" >
             </activity>

            **********************支付宝支付end*****************

        -->

</manifest>
